<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @joy.number %>
</p>

<p>
  <strong>Code:</strong>
  <%= @joy.code %>
</p>

<%= link_to 'Edit', edit_joy_path(@joy) %> |
<%= link_to 'Back', joys_path %>
